@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

/* global styles */
/* main page styles */


* {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

header > h1 {
    height: 80px;
    margin: 0 0 35px 0;
    font-size: 110px;
    letter-spacing: 2px;
    position: relative;
    top: 25px;
    right: 150px;
}
.language {
    background-color: #c01bb0;
    position: fixed;
    top: 10px;
    right: 10px;
}

body {
    font-size: 22px;
    color: #11010e;
    text-align: center;
    background-color: #9f6eaf;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
}
img {
    width: auto;
    max-width: 300px;
    max-height: 350px;
}
#logo {
    position: relative;
    top: 100px;
    left: -300px;
    margin: auto;
    border-radius: 50%;
}

nav {
    position: relative;
    left: 200px;
    bottom: 150px;
}

#intro {
    text-align: right;
}

#home-page-photos {
    text-align: right;
    max-width: 260px;
    border-style: groove;
    border-width: 10px;
}

#certified {
    max-width: 300px;
    border-radius: 50%;
    position: relative;
    left: 400px;
    bottom: 50px;
}
ol {
    list-style-type: disc;
}

ul {
    list-style-type: none;
}

.active-now {
    text-decoration-color:  #331f2f;
}

#home-image {
    max-width: 300px;
    border-radius: 45%;
}

section > img {
    max-width: 300px;
    padding: 8%;
}

#teachers {
    text-align: right;
}

article {
    text-align: right;
    margin: 20%;
}

.link-list {
    font-size: 38px;
    color: #eaeaea;
    background-color: #9f6eaf;
    letter-spacing: 0.4em;
    border-radius: 35%;
}

.link-list:hover {
    color: #331f2f;
    border-radius: 35%;
    background-color: #eccfc3;
    opacity: 85%;
}

#signature {
    font-style: italic;
    margin: 20px;
}

/* form  styles*/ 
form > h1 {
    font-size: 65px;
    width: 35px;
    position: relative;
    left: 250px;
}
#poster-book {
    position: relative;
    bottom: 90px;
    left: 200px;
}
.select {
    text-decoration: underline;
}

form {
    display: block;
    text-align: center;
    width: 50%;
    margin: 15px;
}

form > label {
    text-align: center;
    margin: 25%;
}

.select-date {
    text-decoration: underline;
}

form input[type="date"] {
    width: 250px;
    clear: both;
    margin-bottom: 8%;
}

.details {
    text-align: center;
    width: 230px;
    height: 30px;
}

input[type="submit"] {
    border: 20px solid;
    border-radius: 50%;
    border-color: #331f2f;
    width: 9em;
    height: 9em;
  }

input[type="submit"]:hover {
      background-color: #331f2f;
      color: #eaeaea;
  }

  /* gallery styles */
#about-me {
    text-align: left;
    position: relative;
    left: 200px;
    width: 800px;
}
.about {
    margin-top: 10%;
    padding: 0.6em;
    text-align: center;
}
.about-photos {
    display: flexbox;
}

/* footer styles */ 

footer {
    font-size: 35px;
    word-spacing: 5px;
    color: #fffefe;
    letter-spacing: 2px;
    position: fixed;
    background-color: #c01bb0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 0.5em;
}

.link {
    color: #330429;
    word-spacing: 15%;
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    header > h1 {
        font-size: 55px;
        text-align: center;
        position: relative;
        right: auto;
    }
    logo {
        position: relative;
        top: 50px;
        right: 300px;
        orientation: portrait;
    }

}