@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

/* global styles */
/* main page styles */
* {
    margin: 0;
    font-family: 'Playfair Display', serif;
}
header {
    text-align: center;
}
header > h1 {
    text-align: center;
    font-size: 100px;
    letter-spacing: 2px;
}
.language {
    font-size: 20px;
    text-align: center;
    background-color: #c01bb0;
    position: fixed;
    top: 10px;
    right: 10px;
}
body {
    color: #11010e;
    background-color: #9f6eaf;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#logo {
    max-width: 250px;
    margin: auto;
    border-radius: 50%;
}
#intro {
    font-size: 22px;
    text-align: right;
    max-width: 800px;
    padding-top: 200px;
    padding-left: 150px;
}
.home-page-photos {
    max-width: 260px;
    padding: 8%;
    border-style: groove;
    border-width: 10px;
}
#certified {
    max-width: 200px;
    border-radius: 50%;
    float: right;
}
ol {
    list-style-type: disc;
}
ul {
    list-style-type: none;
}
body > section {
    width: 800px;
    padding-bottom: 80px;
}
.active-now {
    text-decoration-color:  #331f2f;
}
#home-image {
    max-width: 300px;
    border-radius: 45%;
}
#teachers {
    font-size: 24px;
    text-align: right;
    padding-left: 180px;
}
article {
    text-align: right;
    margin: 20%;
}

.link-nav {
    font-size: 38px;
    color: #eaeaea;
    letter-spacing: 0.4em;
    border-radius: 35%;
}
.link-nav:hover {
    color: #331f2f;
    border-radius: 35%;
    background-color: #eccfc3;
    opacity: 85%;
}
#signature {
    font-style: italic;
    margin: 20px;
}

/* form  styles*/ 
form > h1 {
    font-size: 65px;
    max-width: 35px;
    position: relative;
    left: 100px;
}
#poster-book {
    max-width: 300px;
    max-height: 300px;
    float: right;
    padding: 7px;
    border: 30px solid transparent;
    border-image: url(/assets/images/logos/moon-border.png) 20% stretch;
    border-width: 120px;
}
.select {
    text-decoration: underline;
}
form {
    font-size: 20px;
    text-align: center;
    max-width: 350px;
    padding: 200px 0px 30px 200px;
}
form > label {
    text-align: center;
    margin: 25%;
}
.select-date {
    text-decoration: underline;
}
form input[type="date"] {
    width: 250px;
    clear: both;
    margin-bottom: 8%;
}
.details {
    text-align: center;
    width: 230px;
    height: 30px;
}
input[type="submit"] {
    border: 20px solid;
    border-radius: 50%;
    border-color: #331f2f;
    width: 9em;
    height: 9em;
}
input[type="submit"]:hover {
      background-color: #331f2f;
      color: #eaeaea;
  }

  /* gallery styles */
section > h2 {
    float: right;
    font-size: 55px;
    text-align: left;
    border: 10px solid transparent;
    border-image: url(/assets/images/logos/moon-border.png) 20% stretch;
    border-width: 50px;
}
.gallery > img {
    position: relative;
    top: 200px;
    left: 200px;
    max-width: 350px;
    max-height: 350px;
    padding: 22px;
}

#about-me {
    font-size: 22px;
    position: relative;
    left: 150px;
    top: 190px;
    text-align: left;
    max-width: 800px;
}
.about {
    margin-top: 10%;
    padding: 0.6em;
    text-align: left;
}
.about-photos > img {
    max-width: 350px;
    max-height: 350px;
}
.padding-gallery {
    padding-bottom: 75px;
}
/* footer styles */ 

footer {
    text-align: center;
    font-size: 35px;
    word-spacing: 5px;
    color: #fffefe;
    letter-spacing: 2px;
    position: fixed;
    background-color: #c01bb0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 0.2em;
}

.link-footer {
    color: #330429;
    word-spacing: 10px;
}
/* media query for maximum of 600px */
@media (max-width: 600px) {
    header > h1 {
        max-width: 260px;
        font-size: 40px;
        text-align: center;
    }
    #logo {
        max-width: 150px;
    }
    #intro {
        max-width: 320px;
    }
    .language {
        max-width: 90px;
        padding-right: 15px;
    }
    #certified {
        max-width: 30%;
    }
    #poster-book {
        float: none;
        border: none;
        padding: 50px 0px 0px 50px;
    }
    form {
        max-width: 160px;
        font-size: 14px;
        text-align: center;
        padding: 5px 5px 5px 10px;
    }
    input {
        max-width: 100px;
        padding: 0px;
    }
    form > h1 {
        font-size: 20px;
        padding-top: 25px;
        padding-right: 150px;
    }
    .gallery > img {
        max-width: 60%;
    }
    body > section {
        max-width: 250px;
        padding-top: 100px;
        text-align: center;
    }
    section > h2 {
        border: none;
        font-size: 24px;
    }
    #about-me {
        max-width: 280px;
        text-align: center;
        position: relative;
        top: 300px;
    }
    footer {
        font-size: 17px;
    }
}
/* media query for maximum of 1000px */
@media (max-width: 1000px) {
    
}

/* media query for maximum of 1313px */
@media (max-width: 1313px) {
    
}
