@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

/* global styles */
/* main page styles */


* {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

header > h1 {
    height: 80px;
    font-size: 110px;
    letter-spacing: 2px;
    position: relative;
    top: 30px;
    right: 150px;
    margin: auto;
}
.language {
    background-color: #c01bb0;
    position: fixed;
    top: 10px;
    right: 10px;
}

body {
    font-size: 22px;
    color: #11010e;
    text-align: center;
    background-color: #9f6eaf;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#logo {
    max-width: 300px;
    max-height: 350px;
    position: absolute;
    bottom: 150px;
    left: 100px;
    margin: auto;
    border-radius: 50%;
}

nav {
    position: absolute;
    left: 500px;
    bottom: 150px;
}

#intro {
    text-align: left;
    max-width: 600px;
}

.home-page-photos {
    max-width: 260px;
    padding: 8%;
    border-style: groove;
    border-width: 10px;
}

#certified {
    max-width: 300px;
    border-radius: 50%;
    position: relative;
    left: 450px;
    top: 450px;
}
ol {
    list-style-type: disc;
}

ul {
    list-style-type: none;
}
body > section {
    width: 800px;
    position: relative;
    left: 200px;
    top: 400px;
    padding-bottom: 80px;
}

.active-now {
    text-decoration-color:  #331f2f;
}

#home-image {
    max-width: 300px;
    border-radius: 45%;
}

#teachers {
    text-align: right;
}

article {
    text-align: right;
    margin: 20%;
}

.link-list {
    font-size: 38px;
    color: #eaeaea;
    background-color: #9f6eaf;
    letter-spacing: 0.4em;
    border-radius: 35%;
}

.link-list:hover {
    color: #331f2f;
    border-radius: 35%;
    background-color: #eccfc3;
    opacity: 85%;
}

#signature {
    font-style: italic;
    margin: 20px;
}

/* form  styles*/ 
form > h1 {
    font-size: 65px;
    width: 35px;
    position: relative;
    left: 250px;
}
#poster-book {
    max-width: 300px;
    max-height: 350px;
    position: absolute;
    top: 550px;
    right: 100px;
    padding: 5px;
    border: 30px solid transparent;
    border-image: url(/assets/images/logos/moon-border.png) 20% stretch;
    border-width: 120px;
}
.select {
    text-decoration: underline;
}

form {
    position: relative;
    text-align: center;
    top: 550px;
    width: 50%;
    margin: 15px;
    padding-bottom: 150px;
}

form > label {
    text-align: center;
    margin: 25%;
}

.select-date {
    text-decoration: underline;
}

form input[type="date"] {
    width: 250px;
    clear: both;
    margin-bottom: 8%;
}

.details {
    text-align: center;
    width: 230px;
    height: 30px;
}

input[type="submit"] {
    border: 20px solid;
    border-radius: 50%;
    border-color: #331f2f;
    width: 9em;
    height: 9em;
  }

input[type="submit"]:hover {
      background-color: #331f2f;
      color: #eaeaea;
  }

  /* gallery styles */
section > h2 {
    font-size: 55px;
    position: relative;
    top: 100px;
    left: 60px;
    border: 10px solid transparent;
    border-image: url(/assets/images/logos/moon-border.png) 20% stretch;
    border-width: 50px;
}
.gallery > img {
    position: relative;
    top: 200px;
    max-width: 350px;
    max-height: 350px;
    display: flexbox;
    margin: 22px;
    justify-content: space-evenly;
}

#about-me {
    position: relative;
    left: 50px;
    top: 190px;
    text-align: left;
    width: 800px;
}
.about {
    margin-top: 10%;
    padding: 0.6em;
    text-align: center;
}
.about-photos > img {
    max-width: 350px;
    max-height: 350px;
}
.padding-gallery {
    padding-bottom: 10px;
}
/* footer styles */ 

footer {
    font-size: 35px;
    word-spacing: 5px;
    color: #fffefe;
    letter-spacing: 2px;
    position: fixed;
    background-color: #c01bb0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 0.2em;
}

.link {
    color: #330429;
    word-spacing: 10px;
}
/* media query for maximum of 600px */
@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
    header > h1 {
        font-size: 55px;
        text-align: center;
        position: relative;
        bottom: 20px;
        right: auto;
    }
    #logo {
        position: absolute;
        right: auto;
        top: 30px;
        max-width: 200px;
    }
    nav {
        position: relative;
        top: 320px;
        left: auto;
        max-width: 340px;
    }
    .link-list {
        font-size: 18px;
    }
    .language {
        font-size: 18px;
        width: 130px;
    }

    .gallery {
        position:relative;
        left: auto;
    }
    body > section {
        max-width: 320px;
        position: relative;
        top: 20px;
        left: 30px;
        text-align: center;
    }
    footer {
        font-size: 18px;
    }
    

}