@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap');

/* global styles */

* {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;

}

h1 {
    font-weight: bold;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: space-between;
    padding: 35px;
    text-align: left;
}

body {
    font-size: 35px;
    color: #331f2f;
    text-align: center;
    background-color: #9f6eaf;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    padding: 10%;
}

#logo {
    padding: 10%;
}

img {
    width: auto;
    max-width: 350px;
    max-height: 400px;
    float: left;
}

#logo {
    border-radius: 50%;
}

#intro {
    text-align: left;
}

#cert-image {
    max-width: 350px;
    margin: 15%;
    padding: 5%;

}

#certified {
    max-width: 350px;
    border-radius: 50%;
    float: right;
    padding: 5%;
}
ol {
    list-style-type: circle;
}

ul {
    list-style-type: none;
}

.active-now {
    color: #73a580;
    border-radius: 30%;
}

#home-image {
    max-width: 300px;
    border-radius: 45%;
}

section img {
    max-width: 350px;
    padding: 10%;
}

#teachers {
    padding: 5%;
    text-align: right;
    text-emphasis-color: #eccfc3;
}

article {
    float: left;
}

.link-list {
    color: #eaeaea;
    background-color: #331f2f;
    letter-spacing: 0.4em;
    border-radius: 35%;
}

.link-list:hover {
    color: #331f2f;
    border-radius: 35%;
    background-color: #eccfc3;
    opacity: 85%;
}

/* form */ 

form {
    text-align: center;
    display: inline-block;
    width: 30%;
    clear: both;
    padding: 10%;
    
}

form input {
    width: 100%;
    clear: both;
}

.details {
    text-align: center;
    width: 230px;
    height: 30px;
}

input[type="submit"] {
    border: 20px solid;
    border-radius: 50%;
    border-color: #331f2f;
    padding: 15px;
    width: 9em;
    height: 9em;
  }

  input[type="submit"]:hover {
      background-color: #331f2f;
      color: #eaeaea;
  }

footer {
    color: #fffefe;
    text-transform: uppercase;
    position: fixed;
    height: 50px;
    background-color: #c00bae;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 0.3em;
}

.link {
    color: #3d2645;
    margin-top: 50%;
}

#about-me {
    text-align: left;
}

.about {
    margin-top: 10%;
    padding: 0.6em;
    text-align: left;
}