@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

/* global styles */

body {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    color: #eccfc3;
    text-align: center;
    background-color: #22031F;
    background-size: cover;
}

ul {
    list-style-type: none;
}

.active-now {
    color: #73a580;
    border-radius: 30%;
}

#home-image {
    size: 500px;
    border-radius: 45%;
}

article {
    float: left;
}

ul li {
    display: inline;
}

ul li:hover {
    border-radius: 35%;
    background-color: #eccfc3;
    opacity: 90%;
}

/* form */ 

form {
    
}